
{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}




<!-- ITEMS DISPLAY LOGIC -->

<div class="row my-4" style="height:100%; font-size:19px;">

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-8" style="background-color:rgb(255, 255, 255);">
        <span>Your password has been successfully changed,</span>
        
        <a style="font-size:20px;" class="btn btn-primary mb-2" href="#">Login</a> to use your new password
    </div>

    <div class="col-md-2">&nbsp;</div>

</div>


<br><br><br><br><br><br><br><br>


{% endblock %}