
{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}



<br>

<!-- ITEMS DISPLAY LOGIC -->

<div class="row my-4" style="height:100%; font-size:19px;">

  <div class="col-md-2">&nbsp;</div>

  <div class="col-md-8" style="background-color:rgb(255, 255, 255);">
          <h1 style="margin-bottom:20px; font-weight: bold;">Check Your Mail</h1>
          <span style="font-size:19px;">
            Instructions for setting your new password has been sent to your email address.
            <!-- <br> -->
            You should receive the email shortly. Please check the mailbox of the provided email address!
          </span>  
    </div>

    <div class="col-md-2">&nbsp;</div>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}