
{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}




<!-- ITEMS DISPLAY LOGIC -->

<div class="row my-4" style="height:100%; font-size:19px;">

  <div class="col-md-3">&nbsp;</div>

  <div class="col-md-6" style="background-color:rgb(255, 255, 255);">
      {% if validlink %}
          <h1 style="margin-bottom:20px; font-weight: bold;">Set Your New Password</h1>

              <form class="row form-group mt-2 g-3" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}

                    <div class="col-md-12">
                        <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="New password">
                    </div>

                    <div class="col-md-12">
                      <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                      </ul>
                    </div>

                    <div class="col-md-12">
                        <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="New password confirmation">
                    </div>

                    <div class="col-md-6">
                      <button class="form-control mb-3 btn btn-secondary" type="reset">Cancel</button>
                    </div>

                    <div class="col-md-6">
                      <button class="form-control mb-3 btn btn-primary" type="submit">Continue</button>
                    </div>
                  
              </form>

      {% else %}

        <h1 style="margin-bottom:20px; font-weight: bold;">Oops!</h1>

          <span style="font-size:20px;">
            The password reset link is invalid, possibly because it has already been used or has expired. 
            <br>
            Please request a new password reset <a class="btn btn-primary py-1" href="">HERE</a>
          </span>

      {% endif %}
    </div>

  
    <div class="col-md-3">&nbsp;</div>



</div>



{% endblock %}