
{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}




<!-- ITEMS DISPLAY LOGIC -->

<div class="row my-4" style="height:100%; font-size:19px;">

    <div class="col-md-3">&nbsp;</div>

    <div class="col-md-6" style="background-color:rgb(255, 255, 255);">
            <h1 style="margin-bottom:20px; font-weight: bold;">Change Your Password</h1>
            <form style="font-size:19px;" class="row form-control mt-2 g-2" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    <button style="font-size:19px;" class="form-control mb-3 btn btn-primary" type="submit">Change Password</button>
            </form>
    </div>


    <div class="col-md-3">&nbsp;</div>


</div>


<br>


{% endblock %}






