
{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}


<br>

<!-- ITEMS DISPLAY LOGIC -->

<div class="row my-4" style="height:100%; font-size:19px;">

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-8" style="background-color:rgb(255, 255, 255);">
            <h1 style="margin-bottom:20px; font-weight: bold;">Congratulations</h1>

            <span style="font-size:22px;">Your password reset was successfully!
            click <a style="font-size:22px;" class="btn btn-primary mx-1 mb-2" href="{% url 'login' %}">Login</a> to continue</span>
    </div>

    <div class="col-md-2">&nbsp;</div>

</div>


<br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}