

{% extends 'product/base.html' %}

{% load static %}

<!-- for loading "django.contrib.humanize" responsible for adding human touch to templates -->
{% load humanize %}

{% block content %}




<!-- ITEMS DISPLAY LOGIC -->

            <div class="row mt-4">
                  <div class="col-md-12 fw-bold" style="font-size:40px;">Items Purchased By You So Far!</div>
            </div>

            {% if purchased_objects %}
                  <div class="row p-2 mb-2 mt-3 px-3" style="background-color:rgb(255, 255, 255);">
                        <div class="col-md-1 fw-bold">PRODUCT</div>
                        <div class="col-md-5 fw-bold">&nbsp;</div>
                        <div class="col-md-1 fw-bold">QUANTITY</div>
                        <div class="col-md-2 fw-bold">PRICE</div>
                        <div class="col-md-2 fw-bold">SUBTOTAL</div>
                        <div class="col-md-1 fw-bold">DELIVERED</div>
                  </div>
            {% else %}
                  &nbsp;
            {% endif %}



          <div class="row py-2 px-3" style="background-color:rgb(255, 255, 255);">
            {% for object in page_objects %}
                  <div class="col-md-1 py-1">
                    <img style="width:100%; margin-right:20px;" src="{{ object.photo }}"> 
                  </div>
  
                  <div class="col-md-5 py-3 ps-4">
                    <b>{{ object.title }}</b>
                    <br>
                    Bought: <span style="color:rgb(18, 49, 150); font-weight:bold;">{{ object.date_bought|naturaltime }}</span>

                  </div>
  
                  <div class="col-md-1 py-3">
                      <b>{{ object.quantity }}</b>
                  </div>
  
                  {% if object.discount %}
                    <div class="col-md-2 py-3">₦{{ object.discount|intcomma }}
                      <span class="ms-2" style="color:rgb(157, 156, 158);">
                        <del>₦{{ object.price|intcomma }}</del>
                      </span>
                     
                    </div>
                  {% else %}
                    <div class="col-md-2 py-3">₦{{ object.price|intcomma }}</div>
                  {% endif %}
  
                  <div class="col-md-2 py-3"><b>₦{{ object.get_purchased_subtotal|intcomma }}</b></div>

                  <div class="col-md-1 py-3">
                        {% if object.delivered %}
                              <span style="color:brown;"><b>Delivered</b></span>
                        {% else %}
                              <span style="color:rgb(7, 136, 18)"><b>In transit</b></span>
                        {% endif %}
                  </div>
  

                  <div class="py-1" style="background-color:rgb(236, 232, 232);"></div>
  
            {% empty %}
  
                  <div class="col-md-12 fw-bold text-center my-5">
                    <span class="fs-2">Your purchase history is empty. Continue shopping!!!</span>
                    <br>
                    <a class="btn btn-primary my-5 fs-5" href="{% url 'product:home' %}">Continue Shopping</a>
                  </div>
  
            {% endfor %}
        </div>




        
       <!-- PAGINATION LOGIC -->
      <div class="text-center mt-3 mb-3">

            {% if page_objects %}      <!-- IF THIS PAGE IS PAGINATED -->
      
                  {% if page_objects.has_previous %}       <!-- IF THIS PAGE HAS PREVIOUS PAGE -->
                  <a style="background-color: #0974E9; color: #FFFFFF; padding: 3px; text-decoration: none; margin-right:7px;" href="?page=1"><i class="bi bi-chevron-bar-left"></i></a>
                  <a style="background-color: #0974E9; color: #FFFFFF; padding: 3px; text-decoration: none; margin-right:7px;" href="?page={{ page_objects.previous_page_number }}"><i class="bi bi-caret-left-fill"></i></a>
                  {% endif %}
      
      
                  {% for num in page_objects.paginator.page_range %}          <!-- LOOP OVER ALL THE PAGE NUMBERS -->
                  {% if page_objects.number == num %}                     <!-- IF THIS IS THE CURRENT PAGE -->
                        <a style="background-color: #bd3244; color: #FFFFFF; padding: 3px 9px 3px 9px; text-decoration: none; margin-left:7px; margin-right:7px;" href="?page={{ num }}">{{ num }}</a>
                  {% elif num > page_objects.number|add:'-3' and num < page_objects.number|add:'3' %} <!-- OTHER PAGES -->
                        <a style="background-color: #0974E9; color: #FFFFFF; padding: 3px 9px 3px 9px; text-decoration: none;" href="?page={{ num }}">{{ num }}</a>
                  {% endif %}
                  {% endfor %}
      
      
                  {% if page_objects.has_next %}                          <!-- IF THIS PAGE HAS NEXT PAGE -->
                  <a style="background-color: #0974E9; color: #FFFFFF; padding: 3px; text-decoration: none; margin-left:7px;" href="?page={{ page_objects.next_page_number }}"><i class="bi bi-caret-right-fill"></i></a>
                  <a style="background-color: #0974E9; color: #FFFFFF; padding: 3px; text-decoration: none; margin-left:7px;" href="?page={{ page_objects.paginator.num_pages }}"><i class="bi bi-chevron-bar-right"></i></a>
                  {% endif %}
      
            {% endif %}
      
      </div> 



{% endblock %}



